body{
  background: black;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  text-align: center !important;
}

input{
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-left: 150px;
}
input:focus{
  outline: none;
}
button{
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}